{% extends 'base_floors.html' %}

{% load static %}

{% block styles %}
<link rel="shortcut icon" href="{% static 'styles/medias/tabLogo.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}
{% block title %}
<title>About us | Reserve</title>
{% endblock %}

{% block floors_dd %}
<li class="navMenuItem"><a href="/reserve/reserved/" class="navMenuItemLink">Reserve Status</a></li>
<li><a href="/reserve/office/first/">First floor</a></li>
<li><a href="/reserve/office/second/">Second floor</a></li>
<li><a href="/reserve/office/third/">Third floor</a></li>
{% endblock %}

{% block settings_dd %}
<li><a href="/reserve/settings/report/">Report the Bug</a></li>
<li><a href="/reserve/members/profile/">Preferences</a></li>
{% endblock %}

{% block post %}
<a href="/reserve/settings/post/" class="navMenuItemLink">Post Status</a>
{% endblock %}

{% block body %}
<div class="baseAbout">
    <div class="title">
        <div class="banner">"Success is Not Final, Failure is Not Fatal: it is the Courage to Continue that Counts."
        </div>
    </div>
    <div class="content">
        <div class="head">
            <span>About me and this Application</span>
            <p>Hi... <br>My name is Amir Salimi. I tried to challenge my knowledge in the field of programming by making
                this Application.
                This is my first App that covers all stacks.</p>
        </div>
        <div class="items">
            Items used in the program:
            <ul>
                <li>
                    Backend-Language: Python
                </li>
                <li>
                    Backend-Framework: Django
                </li>
                <li>
                    Frontend: HTML + CSS + Javascript
                </li>
                <li>
                    Database: SQLite
                </li>
            </ul>
        </div>
        <div class="phase">
            Implementation phases of the program:
            <ul>
                <li>
                    Designing documents and styling them </li>
                <li>
                    Writing initial scripts and initial front-end preparation </li>
                <li>
                    Getting started with backend and server-side setup </li>
                <li>
                    Initial execution of the program under test with minimums </li>
                <li>
                    Modifying the front of the program and adapting it to the back </li>
                <li>
                    Deploy the program on the host </li>
                <li>
                    Fix deployment errors </li>
                <li>
                    Front redesign with a more beautiful appearance </li>
                <li>
                    Use the framework for the front </li>
                <li>
                    Redeploy under the new version </li>
            </ul>
        </div>
        <div class="version">Version: 0.1 (Debug mode)</div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'scripts/navbar.js' %}"></script>
<script src="{% static 'scripts/about.js' %}"></script>
{% endblock %}