{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- My styles -->
    <link rel="shortcut icon" href="{% static 'styles/medias/tabLogo.png' %}" type="image/x-icon">
    {% block styles %} {% endblock %}
    {% block title %} {% endblock %}
</head>

<body>
    <div class="base">
        <!-- Start of navbar -->
        <header>
            <nav class="navbar">
                <a href="/reservereserved/" class="navLogo">Reserve</a>
                <ul class="navMenu">
                    <li class="navMenuItem">
                        <a class="navMenuItemLink">Floors</a>
                        <ul class="dropdown">
                            {% block floors_dd %} {% endblock %}
                        </ul>
                    </li>
                    <li class="navMenuItem">
                        <a class="navMenuItemLink">Settings</a>
                        <ul class="dropdown">
                            {% block settings_dd %}

                            {% endblock %}
                        </ul>
                    </li>
                    <li class="navMenuItem">
                        {% block post %}
                        {% endblock %}
                    </li>
                </ul>

                <!-- We have to use the user name later -->
                <div class="welcome">Welcome {{ request.user.username }}</div>
                <div class="logout"><a href="/reserve/members/logout_user/">Sign out</a></div>

                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>
        <!-- End of navbar -->

        {% block body %}
        {% endblock %}
    </div>


    {% block scripts %} {% endblock %}
</body>

</html>