{% extends 'base_floors.html' %}

{% load static %}

{% block styles %}
<link rel="shortcut icon" href="{% static 'styles/medias/tabLogo.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
<link rel="stylesheet" href="{% static 'styles/profileStyle.css' %}">
{% endblock %}
{% block title %}
<title>Edit profile | Reserve</title>
{% endblock %}

{% block floors_dd %}
<li class="navMenuItem"><a href="/reserve/reserved/" class="navMenuItemLink">Reserve Status</a></li>
<li><a href="/reserve/office/first/">First floor</a></li>
<li><a href="/reserve/office/second/">Second floor</a></li>
<li><a href="/reserve/office/third/">Third floor</a></li>
{% endblock %}

{% block settings_dd %}
<li><a href="/reserve/settings/about/">About the APP</a></li>
<li><a href="/reserve/settings/report/">Report the Bug</a></li>
{% endblock %}

{% block post %}
<a href="/reserve/settings/post/" class="navMenuItemLink">Post Status</a>
{% endblock %}

{% block body %}
<div class="passwordBase">
    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <!-- <div class="profilePassword">
            <label for="profilePassword">Old password: </label>
            <input type="password" id="id_old_password">
        </div>
        <div class="profilePassword">
            <label for="profilePassword">New password: </label>
            <input type="password" id="id_new_password1">
        </div>
        <div class="profilePassword">
            <label for="profilePassword">Repeat the new password: </label>
            <input type="password" id="id_new_password2">
        </div> -->
        <div class="PassButton">
            <button type="submit">Change</button>
        </div>
        <div class="PassButton">
            <a href="/reserve/members/profile/">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}


{% block scripts %}

<script>
    document.querySelector('form ul').style['display'] = 'none'
</script>

<script src="{% static 'scripts/navbar.js' %}"></script>
<script src="{% static 'scripts/profileTheme.js' %}"></script>
{% endblock %}