.reportContent {
  height: 93vh;
  width: 50%;
  margin-left: 15%;
  margin-right: 35%;
}

.reportData {
  grid-area: reportData;
}

.reportText {
  font-size: 2rem;
  margin: 3% 0;
}

.reportDataForm {
  width: 100%;
}

.reportSender label {
  font-size: 1.75rem;
  margin-bottom: 2%;
}

.reportSender select {
  height: 2rem;
  width: 35%;
  font-size: 1.5rem;
  padding: 0 3%;
  margin-bottom: 2%;
  border-radius: 0.3rem;
  resize: none;
}

.reportSender textarea {
  width: 80%;
  font-size: 1.1rem;
  padding: 2.5%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  resize: none;
  background-color: #f3f2f2;
}

.reportSender label,
.reportSender select,
.reportSender textarea {
  display: block;
}

.reportButton {
  grid-area: reportButton;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 3%;
  box-sizing: border-box;
}

.reportButton > button {
  cursor: pointer;
  color: #fff;
  background-color: #1971c2;
  border-color: #1971c2;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
}

@media only screen and (max-width: 550px) {
  .reportContent {
    width: 100%;
    margin: 0 0;
    padding: 0 3%;
    box-sizing: border-box;
    height: auto;
  }

  .reportText {
    font-size: 1.5rem;
    text-align: center;
  }

  .reportSender label {
    border-top: 2px solid black;
    text-align: center;
  }

  .reportSender select {
    margin: 2% auto;
  }

  .reportSender textarea {
    margin: 1% auto;
  }

  .reportButton {
    justify-content: center;
    padding: 0;
    margin-top: 3%;
  }
}

@media only screen and (max-height: 450px) {
  .reportContent {
    width: 100%;
    margin: 0;
    height: auto;
  }

  .reportText {
    font-size: 1.5rem;
    text-align: center;
  }

  .reportSender {
    padding: 0 3%;
  }

  .reportButton {
    justify-content: center;
    padding: 3% 0;
  }

  form {
    margin-left: 5%;
  }
}
